.video-grid-container{
    display : grid;
    grid-template-columns:repeat(auto-fill, 300px);
    width:590px;
    height:480px;
    grid-auto-rows: 300px;
    background-color: gray;
}

video{
    border-radius: 3px;
    width:590px;
    height:480px;
    object-fit: cover;

}
/*.container {
    padding-top: 50px;
    width: 50px;
    margin: 0;
}*/

input {
    font-size: 12px;
    background-color:#343a40;
    border-bottom:3px solid gray;
    box-shadow:0 3px 6px rgba(255,255,255,0.3);
    caret-color: white;
    width:135px;
    color:white;
}

/*==========================================*/


/* This css file is for all home pages and posts */

body {
  background: #fafafa;
  color: #333333;

}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

/* this is for the top navigation bar */
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}
button{
    color: white;
    background-color:#5f788a;
    border: none;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active .sidenav:active{
  font-weight: 500;
}

/* Chat side navigation -- this is for the side navigation bar */
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  padding-top:100px;
  z-index: 10;
  float:right;
  top:0;
  right: 0;
  text-align:center;
  color: white;
  overflow-x: hidden;
  transition: all 0.5s ease;
  background-color: #5f788a;
}

.sidenav a {
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  color:  white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ffffff;
}

.sidenav .closebtn {
  position: absolute;
  top: 50px;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
}


#main {
  transition: margin-right .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
