<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TClone</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li>
                        <div style="float:right;" class="nav-link">
                            <button class="bg-dark" id="btn-toggle-audio"><i class="fas fa-microphone" style="font-size:20px;"></i></button>
                            <button class="bg-dark" id="btn-toggle-video"><i class="fas fa-video" style="font-size:20px;"></i></button>
                            <button class="bg-dark" id="main" onclick="openNav()"><i class="far fa-comments" style="font-size:20px;"></i></button>
<!--                         <button class="bg-dark" id="main" onclick="{% static 'js/main.js/openNav()' %}"><i class="far fa-comments" style="font-size:20px;"></i></button>-->
                        </div>
                    </li>
                  </ul>

                </div>
        </nav>
<h3 id="label-username">USERNAME</h3>
<div>
    <input id="username"><button id="btn-join" class="bg-dark">Join Room</button>
</div>
<div>
    <div id="video-container">

        <div>
            <video id="local-video" style="float:left;" poster="{% static 'images/profile.png' %}" controls  width="590px" height="480px" autoplay playsinline></video>
        </div>

    </div>
        <div class="sidenav bg-dark" id="mySidebar">
            <h3 style="color:white">CHAT</h3>
             <button class="closebtn bg-dark" onclick="closeNav()">×</button>

            <div id="messages">
                <ul id="message-list" class="navbar-nav mr-auto"></ul>
            </div>
            <div>
                <input id="msg"><button id="btn-send-msg" class="bg-dark">Send Message</button>
            </div>
            <button id="btn-share-screen" class="bg-dark">Share screen</button>
        </div>
</div>

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>